In [1]:
#importing libraries
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
#loading our dataset
Data=pd.read_csv("50_Startups.csv")
Data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
Y=Data["Profit"].values

In [5]:
#We have already taken independed value(Y)
#so we are removing it from dataset 
data=Data.drop(["Profit"],axis=1)
data.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [6]:
#Now you can see the last column(state) they are not numeric
#So we need to convert it to numeric value
dummies=pd.get_dummies(data["State"])
dummies.head()

   California  Florida  New York
0           0        0         1
1           1        0         0
2           0        1         0
3           0        0         1
4           0        1         0

In [7]:
#adding our dummies variable to our dataset
data[["California","Florida","New York"]]=dummies
data.head()
DATA=data.drop(["State"],axis=1)
DATA.head()

   R&D Spend  Administration  Marketing Spend  California  Florida  New York
0  165349.20       136897.80        471784.10           0        0         1
1  162597.70       151377.59        443898.53           1        0         0
2  153441.51       101145.55        407934.54           0        1         0
3  144372.41       118671.85        383199.62           0        0         1
4  142107.34        91391.77        366168.42           0        1         0

In [8]:
x_train,x_test,y_train,y_test=train_test_split(DATA,Y,test_size=0.3,random_state=43 )
# 30% of our datasetset is for testing

In [9]:
#performing feature scaling
xs=StandardScaler()
ys=StandardScaler()
X=xs.fit_transform(x_train)
Y1=ys.fit_transform(y_train.reshape(-1,1))

In [10]:
#initialize linear regressor
reg=LinearRegression()
reg.fit(X,Y1)
yp=reg.predict(xs.transform(x_test))

In [11]:
yp

array([[ 0.02906638],
       [-0.87350125],
       [-0.26989292],
       [ 0.92632256],
       [ 0.15240323],
       [-1.61413364],
       [-0.63887894],
       [ 1.13524504],
       [ 0.40084997],
       [-1.16219167],
       [ 0.45430879],
       [-0.30320285],
       [ 1.49341241],
       [-0.47256982],
       [ 1.2573776 ]])

In [12]:
X=xs.transform([[46426.07,157693.92,210797.67,0,0,1]])

In [13]:
ans=ys.inverse_transform(reg.predict(X))
ans

array([[84795.36868658]])

In [14]:
#this is only for printing guys
for i in ans:
    for j in i:
        pass

In [15]:
print("Predicted profit for our company is {:.2f}".format(j))

Predicted profit for our company is 84795.37

In [16]:
from sklearn.metrics import r2_score
print("accuracy of our model is {:.2f}%".format(r2_score(y_test,ys.inverse_transform(yp))*100))

accuracy of our model is 91.11%